@page "/produto"
@using Mercearia.UI.Client.Models
@using Mercearia.UI.Client.Helpers
@using System.Net.Http
@using System.Text.Json
@inject Api api
<PageTitle>Lista de Produtos</PageTitle>


@if (produtos == null)
{
    <div class="d-flex justify-content-center">
        <strong role="status">Loading...</strong>
        <Spinner Type="SpinnerType.Border" Class="ms-auto" />
    </div>
}
else
{
    <Table>
        <TableHeader>
            <TableRow>
                <TableHeaderCell>#</TableHeaderCell>
                <TableHeaderCell>Nome</TableHeaderCell>
                <TableHeaderCell>Preço</TableHeaderCell>
                <TableHeaderCell>Quantidade</TableHeaderCell>
                <TableHeaderCell>Disponivel</TableHeaderCell>
                <TableHeaderCell>Tipo de Produto</TableHeaderCell>
                <TableHeaderCell>Validade</TableHeaderCell>
                <TableHeaderCell>Descrição</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach(var produto in produtos)
            {
                <TableRow>
                    <TableRowHeader>@produto.NumProduto</TableRowHeader>
                    <TableRowCell>@produto.Nome</TableRowCell>
                    <TableRowCell>@produto.Preco</TableRowCell>
                    <TableRowCell>@produto.Quantidade</TableRowCell>
                    <TableRowCell>@produto.Disponivel</TableRowCell>
                    <TableRowCell>@produto.TipoProduto</TableRowCell>
                    <TableRowCell>@produto.Validade</TableRowCell>
                    <TableRowCell>@produto.Descricao</TableRowCell>
                </TableRow>
            }

        </TableBody>
    </Table>
}


@code {
    private IList<Produto>? produtos { get; set; }
    protected override async Task OnInitializedAsync()
    {
        produtos = await api.GetAsync<Produto>("/api/Produto");
    }
}
