@page "/produto"
@using Mercearia.UI.Client.Models
@using Mercearia.UI.Client.Helpers
@using System.Net.Http
@using System.Text.Json
@inject Api api
<PageTitle>Lista de Produtos</PageTitle>

<style>
    .text-center {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px
    }
    .paraf{
        margin-bottom: 40px;
    }
</style>

<h1 class="text-center">Produtos</h1>

<p class="paraf">Bem-vindo ao seu espaço para gerenciamento de produtos! Aqui você pode adicionar novos produtos, bem como modificar ou excluir os já existentes.</p>

<div class="mb-3">
    <InputText @bind-Value="searchTerm" Placeholder="Pesquisar por nome ou número do produto" class="form-control" @oninput="SearchProducts" />
</div>

@if (produtos == null)
{
    <div class="d-flex justify-content-center">
        <strong role="status">Loading...</strong>
        <Spinner Type="SpinnerType.Border" Class="ms-auto" />
    </div>
}
else
{
    <AdicionarProduto/>
    <Table>
        <TableHeader>
            <TableRow>
                <TableHeaderCell>ID</TableHeaderCell>
                <TableHeaderCell>Nome</TableHeaderCell>
                <TableHeaderCell>Preço</TableHeaderCell>
                <TableHeaderCell>Quantidade</TableHeaderCell>
                <TableHeaderCell>Disponivel</TableHeaderCell>
                <TableHeaderCell>Tipo de Produto</TableHeaderCell>
                <TableHeaderCell>Validade</TableHeaderCell>
                <TableHeaderCell>Descrição</TableHeaderCell>
                <TableHeaderCell>Ações</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach(var produto in filteredProdutos)
            {
                <TableRow>
                    <TableRowHeader>@produto.NumProduto</TableRowHeader>
                    <TableRowCell>@produto.Nome</TableRowCell>
                    <TableRowCell>@produto.Preco</TableRowCell>
                    <TableRowCell>@produto.Quantidade</TableRowCell>
                    <TableRowCell>@produto.Disponivel</TableRowCell>
                    <TableRowCell>@produto.TipoProduto</TableRowCell>
                    <TableRowCell>@produto.Validade</TableRowCell>
                    <TableRowCell>@produto.Descricao</TableRowCell>
                    <TableRowCell><AlteraProduto produtoId="@produto.Id"/></TableRowCell>
                    <TableRowCell><Button Color="Color.Danger" Clicked="() => ExcluirProduto(produto.Id)"><Blazorise.Icon Name="FontAwesomeIcons.Trash" /></Button></TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>
}

@code {
    private IList<Produto>? produtos { get; set; }
    private IList<Produto>? filteredProdutos { get; set; }
    private string searchTerm { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        produtos = await api.GetAsync<Produto>("/api/Produto");
        filteredProdutos = produtos;
    }
    
    private async Task ExcluirProduto(string produtoId)
    {
        try
        {
            await api.DeleteAsync("/api/Produto", produtoId);
            produtos = await api.GetAsync<Produto>("/api/Produto");
            FilterProducts(); // Atualiza a lista filtrada após exclusão
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Erro ao Excluir o produto: {ex.Message}");
        }
    }

    private void SearchProducts(ChangeEventArgs e)
    {
        searchTerm = e.Value.ToString();
        FilterProducts();
    }

    private void FilterProducts()
    {
        if (string.IsNullOrWhiteSpace(searchTerm))
        {
            filteredProdutos = produtos;
        }
        else
        {
            filteredProdutos = produtos?.Where(p => 
                p.Nome.Contains(searchTerm, StringComparison.OrdinalIgnoreCase) || 
                p.NumProduto.ToString().Contains(searchTerm, StringComparison.OrdinalIgnoreCase)).ToList();
        }
    }
}
