@using Mercearia.UI.Client.Models
@using Mercearia.UI.Client.Helpers
@using System.Net.Http
@using System.Text.Json
@inject Api api
<Button Color="Color.Primary" Clicked="@ShowModal">Ver Venda Detalhada</Button>

<Modal @ref="modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Venda Detalhada</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            @if(venda!=null){
                <ListGroup Mode="ListGroupMode.Selectable" @bind-SelectedItem="selectedItem">
                    <ListGroupItem Name="first">Numero do Produto: @venda.NumVenda</ListGroupItem>
                    <ListGroupItem Name="second">Forma de Pagamento: @venda.FormaPagamento</ListGroupItem>
                    <ListGroupItem Name="third">Dia da Venda: @venda.DiaVenda</ListGroupItem>
                    <ListGroupItem Name="fourth">Valor da Venda: @venda.ValorVenda</ListGroupItem>
                </ListGroup>
            }

            else
            {
                <h1>Nenhuma venda encontra</h1>;
            }

            
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Fechar</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    [Parameter]
    public string vendaSelec { get; set; }
    private Venda venda { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (vendaSelec!= null)
        {
            venda = await api.GetIdAsync<Venda>("/api/Venda", vendaSelec);
        }
    }

    private string selectedItem = "first";

    private Modal modalRef;

    private Task ShowModal()
    {
        return modalRef.Show();
    }

    private Task HideModal()
    {
        return modalRef.Hide();
    }
}